/*
 * Put your custom CSS code here
 */
.headshot {
    border-radius: 100;
}

.guest-block {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 30px;
    padding-bottom: 30px;
}

.guest-block figure img {
    min-height: 150px;
    min-width: 150px;
    max-height: 150px;
    max-width: 150px;
    border-radius: 100px;
}

.bio {
    display: flex;
    flex: auto;
    flex-direction: column;
}